</div>

<footer>
    Copyright &copy; Awesome footer
    <div class="two columns">
        <% if (user != null) { %>
            Inloggad som: <strong><%= user %></strong>&nbsp;
            <a href="/user/logout">Logout</a>
        <% } else { %>
            Inte inloggad. &nbsp;
            <a href="/user/login">Login</a>
        <% }; %>
    </div>
</footer>
