</div>

<footer>
    Copyright &copy; Awesome footer
    <div class="two columns">
        <% if (user != null) { %>
            Inloggad som: <strong><%= user %></strong>
            <a href="/user/logout">Logout</a>
        <% } else { %>
            Inte inloggad.
            <a href="/user/login">Login</a>
        <% }; %>
    </div>
</footer>
