<!doctype html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/style/skeleton.css">
    <link rel="stylesheet" href="/style/style.css">
    <link rel="stylesheet" href="/style/fontawesome-all.min.css">
    <script src="https://use.fontawesome.com/0aee473986.js"></script>
</head>
<!-- <link rel="icon" href="/favicon.ico"> -->

<header>
    <!-- <div class="container"> -->
        <nav>
            <!-- <a href="/">Index</a> | -->
            <a href="/people/read-all">Show</a>
            <a href="/admin/create">Create</a> 
            <a href="/people/places">Places</a>
        </nav>
    <!-- </div> -->
</header>
<div class="container">
